.App {
  text-align: center;
  color: #61dafb;
  margin: 50px auto;
  border: 2px brown solid;
  border-radius: 4px;
  width: 500px;
}

p, a, h1, h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Avatar {
  margin: 25px;
  border: 2px brown solid;
}

.Input {
  font-size: 25px;
  /* color: #61dafb; */
  text-align: center;
  margin: 25px auto;
  display: block;
}

body {
  background-color: #282c34;
  color: #61dafb;
}

a:link {
  color: blue;
}

a:visited {
  color: #06ad00;
}